<!DOCTYPE>
<html>
    <head>
        <link rel="stylesheet" href="{{ "/reveal.js/css/reveal.css" | prepend: site.baseurl }}">
        {%if page.theme %}
          <link rel="stylesheet" href="{{ "/reveal.js/css/theme/" | prepend: site.baseurl | append: page.theme | append: '.css' }}" id="theme"/>
        {% else %}
          <link rel="stylesheet" href="{{ "/reveal.js/css/theme/white.css" | prepend: site.baseurl }}" id="theme"/>
        {% endif %}
        <link rel="stylesheet" href="{{ "/assets/custom.css" | prepend: site.baseurl }}">
        <script src='https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.0/MathJax.js?config=TeX-MML-AM_CHTML'></script>
    </head>

    <body>
        <div class="reveal">
            <div class="slides">
                {{ content }}
            </div>
        </div>
        <script src="{{ "/reveal.js/js/reveal.js" | prepend: site.baseurl }}"></script>
        <script>
            Reveal.initialize();
        </script>
    </body>
</html>
